<h3>You can do it!</h3>

<p>Hi{% if name %} {{ name }}{% endif %}!</p>

<p>To reset your password, click this <a href="{{ link }}" target="_blank">link</a>.</p>

<p>This link is valid for 10 minutes from the request for reset.</p>

<p>Thanks!</p>
