<h3>You did it! You registered!</h3>

<p>Hi{% if name %} {{ name }}{% endif %}! You're successfully registered.</p>

<p>To Activate your account, click this <a href="{{ link }}" target="_blank">link</a>.</p>

<p>Thanks!</p>
