{% extends 'security/layout.html.twig' %}

{% block title %}{{ parent() }} - Register{% endblock %}

{% block content %}

    <h3 class="display-1 mb-3">Register</h3>

    {% include 'security/form/register.html.twig' %}

{% endblock %}
