<!DOCTYPE html>
<html{% block html_attributs %} lang="en"{% endblock %}>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Open Agriculture Initiative{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body{% block body_attributs %}{% endblock %}>
        {% block body %}
        <div class="container">
            <div class="row">
                <div class="col py-5">

                    <div class="jumbotron">
                        <h1 class="display-4">Open Agriculture Initiative</h1>
                        <p class="lead">The MIT Media Lab OAI (Open Agriculture Initiative) builds open resources to enable a global community to accelerate digital agricultural innovation.</p>
                        <a class="btn btn-primary btn-lg" href="https://www.media.mit.edu/groups/open-agriculture-openag/overview/" role="button">Learn more</a>
                    </div>

                </div>
            </div>
        </div>
        {% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
